.btn{font-size:12px;padding:7px 10px;}
nav.navbar.navbar-static-top .btn.btn-info{line-height:34px;}
.btn.button-delete{top:1px;padding:5px;}
table.dataTable tbody td, table.dataTable tbody th{padding:5px 7px;}
.price-max-form::before {content:"～";position:absolute;left:-6px;top:8px;color:#000;}