* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    background: #f6f6f6;
    position: relative;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 190px;
    font-size: 14px;
    color: #444;
    font-weight: normal;
    line-height: 1.5em;
    letter-spacing: 1px;
    overflow: hidden;
    overflow-y: auto;
    font-family: Arial, "sans-serif";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body.change-body-padding {
    padding-bottom: 60px;
}
.container {
    padding-right: 0;
    padding-left: 0;
}

body,
li,
address {
    line-height: 1.4em;
}

input,
button,
select,
textarea {
    font-size: 14px;
    /* -webkit-appearance: none; */
}

input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px;
    border-radius: 0px;
    background: #fff;
}

p {
    margin: 0 0 15px
}

a {
    color: #444;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #f7931e;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 10px 0;
    line-height: 1.4em;
}

@-moz-document url-prefix() {
    .animated {
        animation-fill-mode: none;
    }
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

/*****to_top****/
#back_to_top span {
    text-align: center;
    display: inline-block;
    width: 62px;
    height: 62px;
    line-height: 54px;
}

#back_to_top {
    color: #fff;
    height: auto;
    position: fixed;
    bottom: 65px;
    margin: 0;
    z-index: 10000;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    right: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-backface-visibility: hidden
}

#back_to_top.off {
    opacity: 0;
    filter: alpha(opacity=0);
    right: 25px
}

#back_to_top.on {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    right: 25px
}

#back_to_top .hover {
    display: none
}

#back_to_top span {
    text-decoration: none;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    background: #26272b;
    border: solid 1px #fff;
}

#back_to_top span i {
    font-size: 22px;
    -webkit-transition: color .2s ease 0s;
    -moz-transition: color .2s ease 0s;
    -o-transition: color .2s ease 0s;
    color: #fff;
    line-height: 36px
}

#back_to_top:hover span {
    background-color: #f7931e
}

/***pickup****/
.content-m {
    width: 1250px;
    margin: 0 auto;
}

.title-h {
    font-size: 50px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.sub-title-h {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: -5px 0 0 0;
}

.center {
    text-align: center;
}

.blk-btn {
    background: #333 url(../../images/new-layout/ar-w-s.png) no-repeat 20px 18px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    padding: 0 15px 0 50px;
}

.quest-btn {
    background: url(../../images/new-layout/quest-w-s.png) no-repeat;
    min-width: 290px;
    min-height: 25px;
    line-height: 25px;
    padding: 0;
    padding-left: 30px;
    text-align: left;
    margin: 0;
    font-size: 12px;
    color: #000;
    display: inline-block;
}

.special-btn {
    background:none;
    width: 130px;
    margin: auto;
    padding: 5px 10px;
    display: block;
    background-color: #4F7FB8;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    margin-top: 20px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.clear-form-search-btn {
    background: url(../../images/new-layout/icon-reset.png) no-repeat;
    display: inline-block;
    padding-left: 25px;
    margin: 18px auto 0;
    font-weight: 500;
    border: none;
}
.clear-form-search-btn:focus {
    outline: none;
}
.quest-btn:hover,
.quest-btn:focus,
.clear-form-search-btn:hover,
.clear-form-search-btn:focus {
    color: #000;
}
.btn-140 {
    text-transform: uppercase;
    min-width: 140px;
}

.title-row {
    position: relative
}

.title-row .blk-btn {
    position: absolute;
    right: 15px;
    top: 25px;
}

.pickup-blk {
    background: #fff;
    position: relative;
    margin: 30px 0 0 0;
}

.pickup-blk .pickup-img {
    overflow: hidden;
    height: 190px;
    vertical-align: middle;
}

.pickup-blk .pickup-img img {
    position: relative;
    padding: 12px 12px 0;
    overflow: hidden;
    height: auto;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.pickup-blk:hover .pickup-img img {
    padding: 0;
}

.pickup-blk:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.pickup-blk p {
    padding: 0 22px;
    margin: 10px 0;
    height: 44px;
    overflow: hidden;
}

.pickup-blk .small-ar {
    float: right;
    margin: 0 12px 15px 0;
}

.pickup-label {
    text-align: center;
    line-height: 52px;
    font-size: 16px;
    font-weight: bold;
    width: 52px;
    height: 52px;
    display: inline-block;
    border-radius: 100%;
    top: -15px;
    left: -15px;
    position: absolute;
}

.new-label {
    background: #ff0000;
    color: #fff;
}

/***recommend****/
.recommend {
    background: #333;
    position: relative;
    margin: 250px 0 200px 0;
    z-index: 9;
}

.content-l {
    width: 1480px;
    margin: 0 auto;
    overflow: hidden;
}

.recommend .title-h {
    color: #fff;
}

.recommend .sub-title-h {
    color: #fff;
}

.recommend:before {
    content: '';
    display: block;
    position: absolute;
    height: 140px;
    width: 130%;
    top: -90px;
    left: -15%;
    background: #333;
    z-index: -1;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.recommend:after {
    content: '';
    display: block;
    position: absolute;
    height: 140px;
    width: 130%;
    bottom: -90px;
    left: -15%;
    background: #333;
    z-index: -1;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.hide {
    display: none;
}

.folio-recommend {
    margin: 30px 0;
}

.folio-recommend li {
    list-style: none;
    float: left;
    margin: 1.5%;
    padding: 0;
    overflow: hidden;
}

.estate-recommend > a > img {
    height: 120px;
    width: auto;
    max-width: none;
    margin: auto;
    left: -16%;
    position: relative;
}

.gal-thumb {
    position: relative;
    display: inline-block;
}

.gal-thumb span {
    position: absolute;
    z-index: 1;
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    left: 0;
    top: 50%;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.folio-recommend li {
    height: auto;
    width: 30.3%;
}
.gal-thumb span {
    width: 120px;
}
.estate-recommend > a > img {
    height: 120px;
    width: auto;
}

.folio-blk {
    margin-top: -180px;
}

.info-blk {
    background: #050505;
    padding: 15px 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 15px 0;
}

.info-price {
    font-size: 18px;
}

.fll {
    float: left;
    width: 65%;
}

.flr {
    float: right;
    width: 35%;
    text-align: right;
}

.info-desc {
    padding: 0 30px;
    color: #fff;
    position: relative;
}

.title-f {
    font-size: 22px;
    font-weight: 900;
}

.like-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

.btn-like {
    cursor: pointer;
}

.folio-big-img {
    width: 100%;
    max-width: 100%;
}

.mrt-15 {
    margin-top: 15px;
}

.folio-blk .white-btn {
    margin: 30px 0 0 0;
}

.white-btn {
    color: #111;
    background: #fff url(../../images/new-layout/ar-b-s.png) no-repeat 20px 20px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    min-width: 300px;
    display: inline-block;
    font-weight: bold;
}

.white-btn:hover, .white-btn:focus {
    background: #f7931e url(../../images/new-layout/ar-b-s.png) no-repeat 20px 20px;
    color: #111;
}

.gal-thumb {
    opacity: 0.6
}

.gal-thumb.active {
    opacity: 1;
}

/***benefit***/
.benefit-blk {
    background: #fff;
    padding: 30px 30px 40px 30px;
    position: relative;
    margin: 40px 0 0 0;
}

.benefit-blk h3 {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.benefit-blk .be-number {
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    left: -20px;
    top: 15px;
    background: #f7931e;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 52px;
}

/***support***/
.support {
    background: #333;
    position: relative;
    margin: 200px 0 0px 0;
    z-index: 9;
    padding-bottom: 80px;
}

.support:before {
    content: '';
    display: block;
    position: absolute;
    height: 140px;
    width: 130%;
    top: -90px;
    left: -15%;
    background: #333;
    z-index: -1;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.support .white-btn {
    margin: 0 0 10px 0;
}

.support-title {
    text-align: center;
    margin: 15px 0;
}

.support-title h2 {
    color: #fff;
    font-size: 50px;
}

/***footer**/
.footer {
    background: #fff;
    min-height: 90px;
    margin: 100px 0 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .content-m {
    position: relative;
}

.logo-f {
    width: 185px;
    display: inline-block;
}

.search-f {
    background: #333;
    color: #fff;
    min-width: 160px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 90px;
}

.search-f:hover, .search-f:focus {
    background: #000;
    color: #fff;
}

.footer-menu {
    font-size: 13px;
    list-style: none;
}

.footer-menu li {
    float: left;
    margin: 0 35px 0px 0;
    line-height: 90px;
}

.copyright {
    font-size: 9px;
    letter-spacing: 0px;
    margin: 30px 0 0 0;
}

.copyright span {
    display: block;
}

/***header****/
.header {
    min-height: 60px;
    background: #fff;
    position: relative;
    z-index: 8;
}

.logo {
    margin: 40px 0 0 0;
    display: inline-block;
    width: 500px;
}

.header-page .logo {
    width: 380px;
}

.header-page .content-l {
    overflow: visible
}

/***aside menu***/

.aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    width: 0;
    min-width: 0;
    overflow: hidden;
    padding: 70px 0;
    transition: 0.35s width ease, 0.35s min-width ease , 0.35s padding ease, 0.35s left ease;
}

.aside .aside-header {
    position: absolute;
    right: 50px;
    margin-top: 10px;
}

.aside .aside-header .close-btn {
    cursor: pointer;
    margin-right: 3%;
    display: block;
    text-align: right;
}
.aside .aside-header .close-btn img {
    height: 24px;
    width: 24px;
}

.aside .aside-contents {
    min-width: 250px;
}

.aside.in {
    width: auto;
    min-width: 350px;
    left: auto;
    padding-left:100px;
    padding-right:100px;
}

.aside-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    transition: 0.2s opacity ease;
    opacity: 0;
    display: none;
}

.aside-backdrop.in {
    display: block;
    opacity: 0.5;
}

.menu-aside {
    list-style: none;
    margin: 0;
}

.menu-aside li {
    border-bottom: solid 1px #CBCBCB;
    list-style: none;
}

.menu-aside li:first-child {

}

.menu-aside li a {
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    width: 100%;
    color: #000;
}

.menu-aside li:hover a {
    background: #e6e6e6;
    color: #000
}

.aside-bot {
    padding: 0;
    margin-top: 30px;
}

.aside-bot .search-aside {
    color: #fff;
    background: #333;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 38px;
    line-height: 40px;
}

.aside-bot .search-aside:hover {
    background: #000;
    color: #fff;
}

.language {
    margin: 15px 0 0 0;
}

.language li {
    list-style: none;
    float: left;
    width: 32.8%;
    margin: 0.2%;
}

.language li a {
    display: block;
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border: none;
    background: #CBCBCB;
    font-weight: 400;
    font-size: 14px;
    color: #000;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.language li:hover a {
    background: #e6e6e6;
}

.language li.active a {
    background: #000000;
    color: #fff;
}

.header .content-l {
    position: relative;
    min-height: 140px;
}

.header.page-module .content-l {
    min-height: 100px;
}

.menu-btn {
    cursor: pointer;
}

.mail-contact {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 50px;
    top: 1px;
    background: url(../../images/new-layout/icon-mail.png) no-repeat;
}

.like-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../../images/new-layout/icon-heart-fill.png) no-repeat;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 100px;
    top: -1px;
}

.like-number .numlike {
    color: #F7931E;
}

.hotline {
    font-weight: bold;
    position: absolute;
    right: 90px;
    top: 43px;
    text-align: right;
}

/**intro section***/
.intro-section {
    margin: 0 0 100px 0
}

.intro-section .content-l {
    position: relative;
    overflow: visible;
}

.intro-section .content-l .label-intro {
    position: absolute;
    top: -30px;
    left: 150px;
    z-index: 9;
    width: 177px;
}

.intro-section .content-l .label-intro div {
    overflow: hidden;
}

.title-big {
    font-size: 75px;
    color: #fff;
    font-weight: 900;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 300px;
}

.bottom-btn {
    height: 50px;
    width: 640px;
    position: absolute;
    z-index: 10;
    bottom: -25px;
    left: 50%;
    margin-left: -320px;
}


.img-section {
    position: relative;
}

.sub-title-f {
    font-weight: bold
}

/***advanced search***/
.advanced-search {
    display: block;
    width: 810px;
    background: rgba(255, 255, 255, .85);
    padding: 35px 10px 35px 70px;
    position: absolute;
    bottom: -45px;
    left: 50%;
    margin-left: -405px;
    height: 300px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow:    0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    box-shadow:         0px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

.logo-ho {
    width: 195px;
    float: left;
    padding-top: 50px;
}

.search-gr {
    width: 180px;
    float: right;
    text-align: center;
}
.search-gr > label {
    margin: 0 auto;
}
.search-gr > h2 {
    margin: 0 auto 10px auto;
    line-height: 1.2em;
}
.range-section {
    width: 550px;
    float: left;
}

.form-field {
    display: inline-block;
    float: none;
}
.form-field > .dropdown {
    display: inline-block;
    vertical-align: middle;
}
.form-field > .dropdown:first-child {
    width: 350px;
}
.form-field > .dropdown:first-child > input[type="text"] {
    width: 100%;
}
.form-field > .dropdown:last-child{
    margin-left: 5px;
    width: 190px;
}

.range-section label {
    width: 100%;
    display: block;
    float: none;
    font-size: 12px;
    font-weight:normal;
}

.range-section select {
    background: #fff;
    border: solid 1px #111;
    height: 30px;
    line-height: 30px;
    min-width: 200px;
    padding: 0 12px;
    position: relative;
    top: -5px;
}

.range-section input[type=text] {
    background: #fff;
    border: solid 1px #111;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
}

.range-section .row {
    margin: 5px 0 20px 0;
}

.search-gr label {
    display: block;
    font-size: 11px;
}

.search-gr h2 {
    font-weight: 900;
}

.search-circle-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    /*background: #fbb03b;*/
    background: #f7931e;
    border-radius: 100%;
}

.search-circle-btn:hover {
    background: #f7931e;
}

.form-field2 {
    float: left;
    display: inline-block;
    width: 200px;
}

.form-field2 input[type=text] {
    width: 70px;
    text-align: center;
    padding: 0;
}

.slider-container {
    margin: 10px 0 0 0;
}
.theme-green .back-bar {
    height: 6px;
}
.theme-green .back-bar .selected-bar {
    background: #f7931e;
    z-index: 9;
}

.theme-green .back-bar .pointer {
    width: 20px;
    height: 20px;
    background: #f7931e;
    border: 0;
    top: -8px;
}

.slider-container .clickable-dummy {
    background: #000;
    height: 6px;
}

.theme-green .scale ins {
    color: #333;
    font-size: 11px;
}

.theme-green .back-bar .pointer-label {
    color: #333;
    font-size: 10px;
    background: #fff;
    border: 1px solid #000;
    top: -35px;
    padding: 5px 9px 4px 11px;
    line-height: 9px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.slider-container .scale {
    top: 5px;
}

.slider-container .scale span:first-child {
    margin-left: -3px;
}
.slider-container .scale span:last-child > ins {
    left: -27px;
}

.theme-green .scale span {
    border: none;
}

.slider-container .scale ins {
    right: 0;
    left: auto;
}

.slider-container .scale span:first-child ins {
    left: 0;
}

.range2 .slider-container .scale span:last-child ins {
    right: 16px;
}

.range2 .slider-container .scale span:last-child ins {
    position: relative;
    padding-right: 12px;
}

.range2 .slider-container .scale span:last-child ins:after {
    content: '~';
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 10px;
    height: 8px;
}

.pointer-label:before {
    position: absolute;
    content: "";
    display: inline-block;
    left: 6px;
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid rgb(0, 0, 0);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.pointer-label:after {
    position: absolute;
    content: "";
    display: inline-block;
    left: 7px;
    bottom: -6px;
    border-bottom: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
}
.pointer-label.low,
.pointer-label.high {
    display: none;
}
.range-section .row:hover > .form-field .pointer-label.low,
.range-section .row:hover > .form-field .pointer-label.high {
    display: block;
}

.search-hidden .advanced-search .range2 .slider-container .scale span:last-child ins {
    right: 37px;
}

.search-hidden .advanced-search .range2 .slider-container .scale span:last-child ins {
    position: relative;
    padding-right: 12px;
}

.search-hidden .advanced-search .range2 .slider-container .scale span:last-child ins:after {
    content: '~';
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 10px;
    height: 8px;
}

.form-field .dropdown-toggle {
    background: #fff url(../../images/new-layout/dropdown-ar.png) no-repeat calc(100% - 10px) 12px;
    border: solid 1px #111;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 10px;
    border-radius: 0;
    min-width: 180px;
    text-align: left;
}

.form-field .dropdown-menu {
    border-radius: 0;
    padding: 10px;
    min-width: 180px;
    border: solid 1px #111;
    margin: -1px 0 0 0;
}

.form-field .dropdown-menu > li > a {
    background: none !important;
    padding: 0;
    margin: 0 0 5px 0;
    line-height: 24px;
}

.form-field .dropdown-menu > li > a > input[type=checkbox] {
    position: relative;
    top: 2px;
}

.form-field .dropdown-menu > li > a:focus {
    outline: 0;
}

/***menu fix****/
.logo2 img {
    height: 18px;
    margin: 23px 0 0 0;
}

.menu-fix {
    min-height: 60px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-fix .content-l {
    position: relative;
    overflow: visible;
    height: 60px;
}

.menu-fix .menu-btn {
    top: 22px;
    right: 15px;
}

.menu-fix .hotline {
    top: 23px;
    right: 105px;
}

.open-search-hidden.close-c {
    width: 140px;
    height: 36px;
    line-height: 36px;
    background: url(../../images/new-layout/circle-close.png) no-repeat left center;
    padding-left: 32px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 15px;
    font-weight: bold;
    cursor: pointer;
}

.open-search-hidden {
    width: 140px;
    height: 36px;
    line-height: 36px;
    background: url(../../images/new-layout/circle-search.png) no-repeat left center;
    padding-left: 32px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 15px;
    font-weight: bold;
    font-weight: bold;
    cursor: pointer;
}

.menu-fix .advanced-search {
    position: relative;
    bottom: auto;
    background: none;
    width: 790px;
    margin-left: -395px;
    padding: 30px;
    height: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.menu-fix .range-section {
    padding-bottom: 15px;
}

.menu-fix .special-btn,
.menu-fix .quest-btn {
    display: none;
}

.nicescroll-rails {
    z-index: 9999 !important
}

.show-mobile {
    display: none;
}

/***support area***/
.header-page.header {
    min-height: 100px;
    height: auto;
}

.header-page.header .content-l {
    text-align: left;
}

.header-page.header .advanced-search {
    position: relative;
    bottom: auto;
    width: 790px;
    margin-left: -395px;
    margin-top: 10px;
}

.header-page.header .open-search-hidden {
    top: 34px;
}

.breadcrumb-blk {
    margin: 30px 0;
    font-size: 11px;
}

.breadcrumb-blk li {
    float: left;
    margin-right: 15px;
    padding-right: 15px;
    list-style: none;
    position: relative;
}

.breadcrumb-blk li:after {
    content: '>';
    display: inline-block;
    position: absolute;
    top: 0px;
    right: -5px;
}

.breadcrumb-blk li:last-child:after {
    display: none;
}

.bg-white {
    background: #fff;
}

.support-area {
    padding: 50px 60px;
}

.support-area h2 {
    font-size: 26px;
    color: #000;
    font-weight: bold;
}

.title-border {
    padding-left: 20px;
    border-left: #e6e6e6 solid 6px;
    line-height: 40px;
    font-weight: bold;
    color: #111;
}

.support-blk {
    margin-top: 30px;
}

.support-blk h2 {
    width: 100%;
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.support-blk h3 {
    font-weight: bold;
    font-size: 18px;
}

.support-bottom {
    background: #333;
    margin: 20px 0;
    padding: 40px 0;
    color: #fff;
}

.support-bottom span {
    display: block;
    margin: 0 0 10px 0
}

/***company profile***/
.company-profile {
    padding: 50px 60px;
}

.ggmap {
    margin-top: 0px;
}

.ggmap iframe {
    width: 100%;
    height: 250px;
}

.profile-blk {
    margin-top: 10px;
}

.profile-blk div {
    padding: 14px 0 14px 220px;
    border-bottom: solid 1px #ededed;
    position: relative;
}

.profile-blk div label {
    position: absolute;
    top: 12px;
    left: 0;
    width: 200px;
}

.profile-blk div p {
    margin: 0;
}

.bg-white h3 {
    font-weight: bold;
    font-size: 18px;
}

/***site map****/
.content-s {
    width: 900px;
    margin: 0 auto;
}

.content-page {
    padding: 30px;
}

.menu-list li {
    list-style: none;
    margin: 0 0 10px 0;
}

.menu-list li a {
    border: solid 1px #b3b3b3;
    padding: 17px 12px;
    text-align: center;
    display: block;
}

.menu-list li a:hover, .menu-list li a:focus {
    background: #e6e6e6;
    color: #111;
}

.mrb-30 {
    margin-bottom: 30px;
}

.back-home {
    border: solid 1px #b3b3b3;
    padding: 17px 12px;
    text-align: center;
    display: inline-block;
    width: 325px;
    margin: 20px 0 0 0;
}

.back-home:hover, .back-home:focus {
    background: #e6e6e6;
    color: #111;
}

.title-m {
    font-size: 28px;
    font-weight: bold;
}

/***contact***/
.contact-form {
    margin: 30px 0;
}

.gr-cotnact-row {
    position: relative;
    padding-left: 200px;
    margin: 0 0 30px 0;
}

.gr-cotnact-row label {
    position: absolute;
    top: 4px;
    left: 0;
    width: 190px;
}

.gr-cotnact-row input[type=text] {
    border: solid 1px #b3b3b3;
    height: 36px;
    line-height: 36px;
    padding: 6px 10px;
    min-width: 340px;
}

.gr-cotnact-row textarea {
    min-height: 120px;
    width: 100%;
    resize: vertical;
    padding: 8px 10px;
}

.gr-cotnact-row input[type=text]:hover, .gr-cotnact-row textarea:hover, .gr-cotnact-row input[type=text]:focus, .gr-cotnact-row textarea:focus {
    border: solid 1px #fbb03b;
    -webkit-appearance: none;
    outline-color: transparent;
    outline-style: none;
}

.gr-cotnact-row input[type=text].error, .gr-cotnact-row textarea.error {
    border: solid 1px #f15a24;
    background: #ffeff1;
    color: #f15a24;
}

.gr-cotnact-row .note {
    color: #b3b3b3
}

.gr-cotnact-row hr {
    width: 100%;
    margin: 30px 0;
    background: #ccc;
    border: 0;
    height: 1px;
}

.submit-blk {
    width: 100%;
    margin: 0 auto;
}

.blk-submit-btn {
    background: #333333;
    color: #fff;
    font-weight: bold;
    line-height: 55px;
    height: 55px;
    min-width: 340px;
    border: 0;
    box-shadow: none;
    display: inline-block;
    margin: 30px 0 0 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blk-submit-btn:hover, .blk-submit-btn:focus {
    background: #f7931e;
    color: #fff
}

.yellow-txt {
    color: #f7931e;
}

/***category****/
.img-breadcrumb {
    position: relative;
    margin: 0 0 30px 0;
    min-height: 250px;
    background-size: cover;
}

.img-breadcrumb .txt-breadcrumb {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-breadcrumb h1 {
    color: #fff;
    font-size: 56px;
    font-weight: bold;
    margin: 0;
}

.img-breadcrumb h4 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.feature-blk {
    position: relative;
    background: #fff;
    padding: 5px 5px 5px 180px;
    margin: 0 0 30px 0;
    height: 185px;
}

.feature-blk:hover {
    box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.4);
}

.feature-blk:hover img {
    width: 185px;
    height: 185px;
    top: 0;
    left: 0;
}

.feature-blk img {
    height: 175px;
    width: 175px;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.feature-blk .desc {
    margin: 20px;
    height: 135px;
}

.feature-blk h3 {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    margin: 0 0 15px 0;
    padding-bottom: 20px;
    border-bottom: solid 1px #e6e6e6;
    color: #111;
}

.feature-blk p {
    margin: 0;
    font-size: 13px;
    overflow: hidden;
    height: 80px;
}

.feature-blk.category-single .desc > div {
    overflow: auto;
    height: 65px;
}

.feature-blk.category-single .desc > div p {
    height: auto;
    padding-bottom: 10px;
}

.more-blk-btn {
    background: #333333;
    color: #fff;
    font-weight: bold;
    line-height: 55px;
    height: 55px;
    min-width: 400px;
    border: 0;
    box-shadow: none;
    display: inline-block;
    margin: 30px 0 0 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.more-blk-btn:hover, .more-blk-btn:focus {
    background: #f7931e;
    color: #fff;
}

.pagination-blk li {
    float: none;
    list-style: none;
    margin: 0 5px 5px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
}

.pagination-blk li.active span {
    color: #f7921e;
}

.pagination-blk {
    display: block;
    margin: 30px auto 0;
    padding: 0;
    text-align: center;
}

.map-list-pagi {
    position: fixed;
    z-index: 10;
    background-color: #f6f6f6;
    width: 770px;
    padding: 10px 0;
    bottom: 0;
}

.map-list-pagi .pagination-blk {
    margin: 7px 0 0 15px;
    vertical-align: middle;
    text-align: left;
}

.map-list-pagi .more-blk-btn {
    height: 40px;
    min-width: 200px;
    margin: 0 10px 0 10px;
    line-height: 40px;
    text-align: center;
}


/*****list******/
.house-blk {
    font-size: 13px;
    background: #fff;
    padding: 20px;
    margin: 0 0 30px 0;
    color: #000;
}

.house-blk:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.house-blk:hover a {
    color: #f7921e;
}

.house-blk h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.house-blk h3 {
    font-size: 18px;
    min-height: 43px;
    font-weight: bold;
}

.house-blk p {
    margin-bottom: 0;
    text-align: justify;
}

.house-blk .row {
    margin-left: -10px;
    margin-right: -10px;
}

.house-blk .col-md-6 {
    padding-left: 10px;
    padding-right: 10px;
}


.house-blk .house-info tr {
    border-bottom: 1px dotted #ccc;
}
.house-blk .house-info td {
    min-height: 23.5px;
    line-height: 23px;
}
.house-blk .house-info .tdl {
    width: auto;
}
.house-blk .house-info .tdr > div {
    overflow: hidden;
    white-space: nowrap;
    float: right;
    width: 200px;
}

.tdl {
    text-align: left;
    width: 60%;
}

.tdr {
    text-align: right;
}

.title-number {
    position: relative;
    padding-right: 80px;
}

.title-number .like {
    position: absolute;
    right: 0;
    top: 0;
}

.house-info {
    width: 100%;
}

.house-detail-row .house-info td {
    border-bottom: dotted 1px #ccc;
    padding: 7px 0;
    height: 35px;
    min-width: 30%;
}

.house-feature {
    margin: 15px 0 0;
    font-size: 0;
}

.house-feature li {
    background: #feebc4;
    text-align: center;
    line-height: 26px;
    height: 26px;
    width: 49.3%;
    margin: 2px 1% 2px 0;
    font-size: 13px;
    list-style: none;
    display: inline-block;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.house-feature li > div {
    overflow: hidden;
    width: 95%;
    white-space: nowrap;
    margin: 1px auto -3px;
    height: 20px;
    display: block;
}

.house-feature li:nth-child(2n) {
    margin-right:0;
}

.house-feature li.inactive {
    background: #E6E6E6;
    color: #808080;
}

.house-sub-title {
    background: #333;
    color: #fff;
    min-height: 34px;
    padding: 6px 7px 2px 11px;
    font-weight: 400;
    margin: 0 0 20px 0;
    line-height: 22px;
    width: 100%;
}

.house-sub-title > strong {
    font-size: 19px;
}

.house-sub-title span {
    font-size: 11px;
}

.house-carousel div {
    overflow: hidden
}

.house-carousel.owl-carousel .owl-nav .owl-prev,
.house-carousel.owl-carousel .owl-nav .owl-next,
.house-carousel.owl-carousel .owl-dot {
    width: 13px;
    height: 20px;
}

.house-carousel.owl-carousel .owl-nav .owl-prev {
    background: url('../../images/new-layout/prev.png') no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
}

.house-carousel.owl-carousel .owl-nav .owl-next {
    background: url('../../images/new-layout/next.png') no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
}

.head-search {
    height: 80px;
    border-bottom: solid 1px #ccc;
    padding: 20px 0;
    margin: 0 0 30px 0;
}

.head-search .content-l {
    position: relative;
}

.head-search li {
    margin: 0 10px 0 0;
    float: left;
    list-style: none;
    line-height: 40px;
}

.head-search li strong {
    font-size: 20px;
}

.head-search li a {
    border: solid 1px #ccc;
    background: #fff;
    padding: 0 12px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.head-search li a:hover {
    color: #111;
    background: #f7931e;
    border-color: #f7931e;
}

.search-map {
    padding: 0 12px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    background: #333;
    position: absolute;
    right: 0;
    top: 0px;
}

.search-map:hover, .search-map:focus {
    background: #000;
    color: #fff;
}

.category-single h3 {
    font-size: 24px;
}

/***list-single****/
.black-bg {
    background: #333;
    padding: 40px 80px;
    margin: 40px 0 0 0;
}

.black-bg h3 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.rh-blk {
    padding: 5px;
    background: #fff;
    display: block;
}

.related-house .rh-blk img {
    max-height: 125px;
}

.rh-info {
    display: block;
    line-height: 30px;
    min-height: 30px;
    background: #5c5c5c;
    color: #fff;
    padding: 0 8px;
}

.rh-info strong {
    font-size: 18px;
}

.rh-blk p {
    margin: 8px 0 0 0;
}

.related-house {
    margin: 0 0 40px 0;
}

.related-house-carousel div {
    overflow: hidden
}

.related-house-carousel.owl-carousel .owl-nav .owl-prev,
.related-house-carousel.owl-carousel .owl-nav .owl-next,
.related-house-carousel.owl-carousel .owl-dot {
    width: 26px;
    height: 40px;
}

.related-house-carousel.owl-carousel .owl-nav .owl-prev {
    background: url('../../images/new-layout/prev2.png') no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: -50px;
}

.related-house-carousel.owl-carousel .owl-nav .owl-next {
    background: url('../../images/new-layout/next2.png') no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: -50px;
}

.grey-bg-info {
    background: #e6e6e6;
    padding: 20px 20px 16px 20px;
    font-size: 15px;
}

.big-price {
    font-weight: 900;
    font-size: 24px;
}

.right {
    text-align: right;
}

.title-txt {
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 30px;
}

.title-info-sm {
    font-size: 12px;
    padding-right: 10px;
}

.red-label {
    color: #fff;
    background: #ed1c24;
    padding: 2px 6px;
}

.house-feature2 {
    margin: 0px 0 0 0;
}

.house-feature2 li {
    background: #feebc4;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 100%;
    list-style: none;
    margin: 2px 5px 5px 5px;
    color: #000;
}

.house-feature2 li.inactive {
    background: #E6E6E6;
    color: #808080;
}

.house-detail-row {
    margin: 30px 0;
    font-size: 13px;
}

.social-list {
    display: inline-block;
    margin: 30px 0;
    padding: 0;
}

.social-list li {
    list-style: none;
    margin: 5px 5px;
    float: left;
}

.big-contact-btn {
    background: #333;
    color: #fff;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
}

.big-favorite-btn {
    border: solid 1px #ccc;
    background: #fff;
    height: 50px;
    line-height: 50px;
    width: calc(50% - 5px);
    margin-right: 5px;
    display: inline-block;
    float: left;
    text-align: center;
    font-weight: bold;
}

.big-print-btn {
    border: solid 1px #ccc;
    background: #fff;
    height: 50px;
    line-height: 50px;
    width: calc(50% - 5px);
    margin-left: 5px;
    display: inline-block;
    float: left;
    text-align: center;
    font-weight: bold;
}

.big-contact-btn:hover, .big-contact-btn:focus {
    background: #000;
    color: #fff;
}

.big-favorite-btn:hover, .big-favorite-btn:focus, .big-print-btn:hover, .big-print-btn:focus {
    background: #ededed;
}

.gmail-details iframe {
    width: 100%;
    height: 250px;
}

.fotorama {
    margin: 0px 0 30px 0;
}

.fotorama__wrap {
    margin: 0 auto;
}

.title-details {
    margin: 30px 0 20px 0;
}

.title-details label {
    font-size: 30px;
    font-weight: bold;
    margin: 0 20px 0 0;
    vertical-align: middle;
    line-height: 30px;
}

.fotorama__thumb-border {
    border-color: #f7931e;
}

.mrt-30 {
    margin-top: 30px
}

.fb-s {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../../images/new-layout/social-facebook.png) no-repeat;
}

.tw-s {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../../images/new-layout/social-twitter.png) no-repeat;
}

.gm-s {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../../images/new-layout/social-gmail.png) no-repeat;
}

.em-s {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../../images/new-layout/social-mail.png) no-repeat;
}

.pt-s {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../../images/new-layout/social-pinterest.png) no-repeat;
}

.li-s {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../../images/new-layout/social-line.png) no-repeat;
}

.fb-s:hover {
    background: url(../../images/new-layout/social-facebook-o.png) no-repeat;
}

.tw-s:hover {
    background: url(../../images/new-layout/social-twitter-o.png) no-repeat;
}

.gm-s:hover {
    background: url(../../images/new-layout/social-gmail-o.png) no-repeat;
}

.em-s:hover {
    background: url(../../images/new-layout/social-mail-o.png) no-repeat;
}

.li-s:hover {
    background: url(../../images/new-layout/social-line-o.png) no-repeat;
}

.pt-s:hover {
    background: url(../../images/new-layout/social-pinterest-o.png) no-repeat;
}

.container-gallery {
    margin-bottom: 30px;
}

.gallery-item {
    border: solid 1px #fff;
    opacity: 0.7
}

.thumbnails > div.active {
    opacity: 1;
    border: solid 1px #fff;
}

.controls .prev-button, .controls .next-button {
    background: none !important;
    padding: 0;
}

.controls svg {
    fill: #fff !important;
}

/***list-map***/
#map-result {
    width: 100%;
    height: 100%;
}

.row-map {
    position: relative; /*height:calc(100vh - 230px)*/
}

.house-list-scroll {
    width: 760px;
    position: relative;
    float: left;
    left: 0;
    top: 0;
    /*overflow-y: auto;*/
    /*height: calc(100vh - 230px)*/
}

.house-list {
    width: 730px;
}

.house-list-map {
    background: #ccc;
    height: calc(100vh - 220px);
    width: 48%;
    position: fixed;
    right: 0;
    bottom: 0;
}

.row-map .house-blk {
    margin-bottom: 20px;
}

.list-map-body {
    overflow-y: hidden;
}

.list-map-body .footer {
    display: none;
}

.row-map .house-blk {
    padding: 10px;
}

.row-map .house-blk .row {
    margin: 0 5px 0 5px;
}

.row-map .house-sub-title {
    margin: 0;
}

.maps-mark-item {
    font-weight: bold;
    font-size: 14px;
}

.gm-style .gm-style-iw {
    margin-top: 3px;
    text-align: center;
}

.gm-style img {
}

.maps-mark-item a:hover {
    color: #000;
}

.row-map .house-blk.hover_maps {
    background-color: rgba(255, 184, 82, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .4)
}

.no-data-map {
    width: 90%;
    padding: 5%;
}

.estate_inclusive_content {
    margin-top: 15px;
}

.estate-detail-vat-title {
    float: left;
}

.estate-detail-vat {
    position: relative;
    padding: 0 5px;
    float: left;
}
.estate-detail-vat:first-child {
    padding-left: 0;
}
.estate-detail-vat:after {
    position: absolute;
    content: ' ・ ';
    top: 0px;
    right: -8px;
}

.estate-detail-vat:last-child:after {
    content: '';
}

.list-product .owl-carousel .owl-item .item {
    height: 175px !important;
    background: #ccc;
}

.house-blk .owl-carousel .owl-item .item {
    height: 200px !important;
    background: #ccc;
}

.owl-carousel.owl-loaded {
    height: 200px;
}

.home-page-display {
    display: none;
}

.home-office-logo .logo {
    width: 500px;
}

.header-page.header .home-office-logo {
    text-align: center
}

.irs-with-grid {
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 300px;
    height: 50px;
}

.irs-with-grid > .irs-grid {
    bottom: 0px;
    width: 100% !important;
}

.irs-slider {
    top: 15px;
}

.irs-line, .irs-bar {
    top: 23px;
}

.irs-with-grid > .irs > .irs-from, .irs-with-grid > .irs > .irs-single, .irs-with-grid > .irs > .irs-to {
    display: block;
    background-image: none;
    width: 40px;
    height: 20px;
    font-size: 10px;
    padding: 0;
}

.irs-to {
    left: 86.6667%;
}

.irs-with-grid > .irs > .irs-from {
    text-align: left;
    padding-left: 5px;
}

.irs-with-grid > .irs > .irs-from, .irs-with-grid > .irs > .irs-to, .irs-grid-text {
    font-weight: normal;
}

.irs-grid-text {
    left: 95%;
    font-size: 10px;
}

.three-grid.thumbnail-view .three-grid-item-wrapper {
    /*width: calc(100%/2);
	margin-right: 0;*/
}

/*kongnc edit end*/
.img-button {
    background: none;
    border: none;
    display: block;
    margin: auto;
}

.pagination-blk > li.active {
    color: #f7931e;
}

.unset_overflow {
    overflow: unset;
}

.header.page-module {
    height: auto;
    min-height: 100px;
}

.header.page-module > div.content-l {
    overflow: unset;
}

.header.page-module .logo2 img {
    /*height: 26px;*/
    width: 385px;
    height: auto;
    margin: 40px 0 0;
}

.header.page-module .open-search-hidden {
    top: 34px;
}

.header.page-module .advanced-search {
    bottom: 0;
    position: relative;
    margin: 9px auto 0;
    width: 790px;
    display: block;
    left: auto;
    height: 250px;
    padding: 30px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.header.page-module .advanced-search .quest-btn,
.header.page-module .advanced-search .special-btn,
.header.page-module .search-hidden .advanced-search {
    display: none;
}

.nopadding-rl {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.nopadding-r {
    padding-right: 0 !important;
}

.direct_bar_wrap {
    background-color: #000000;
    height: 40px;
    z-index: 100;
}

#direct_bar.content-l {
    min-height: auto;
    height: auto;
    position: relative;
    z-index: 3000;
    overflow: unset;
}

#direct_bar > div .navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 9px;
    min-width: 140px;
    text-align: center;
    height: 40px;
    color: #fff;
}

#direct_bar > div.direct_bar_lang .navbar-nav > li > a {
    text-align: left;
}

#direct_bar > div.direct_bar_lang span.icon_global {
    height: 30px;
    width: 25px;
    margin-top: -6px;
    background: url(../../images/new-layout/icon-global.png) center center no-repeat;
    display: inline-block;
    vertical-align: middle;
}

#direct_bar > div.direct_bar_lang > ul.nav > li > a,
#direct_bar > div.direct_bar_lang > ul.nav > li > a:hover,
#direct_bar > div.direct_bar_lang > ul.nav > li > a:focus,
#direct_bar > div.direct_bar_lang > ul.nav > li.open > a,
#direct_bar > div.direct_bar_lang > ul.nav > li.open > a:focus,
#direct_bar > div.direct_bar_lang > ul.nav > li.open > a:hover {
    background-color: #000;
}

#direct_bar > div.direct_bar_lang .dropdown-menu > .active > a,
#direct_bar > div.direct_bar_lang .dropdown-menu > .active > a:focus,
#direct_bar > div.direct_bar_lang .dropdown-menu > .active > a:hover {
    background-color: #f7931e;
}

#direct_bar > div.direct_bar_list li {
    background-color: #3F3F3F;
    border: none;
    border-left: 1px solid #fff;
}

#direct_bar > div.direct_bar_list li:last-child {
    border-right: 1px solid #fff;
}

#direct_bar > div.direct_bar_list li.active {
    background-color: #FFF;
}

#direct_bar > div.direct_bar_list li.active > a {
    color: #000;
}

#direct_bar > div.direct_bar_list li:hover > a {
    color: #000;
}

/*----------------*/
/* Updated design */
/*----------------*/

.navbar-nav > li > .dropdown-menu {
    left: 12px;
    top:35px;
    padding: 15px 25px 20px 25px;
    min-width: 140px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.navbar-nav > li > .dropdown-menu > li {
    border-bottom: 1px solid #CBCBCB;
}
.navbar-nav > li > .dropdown-menu > li:last-child {
    border: none;
}
.navbar-nav > li > .dropdown-menu > li > a {
    padding: 5px;
}

#menu_head_group {
    position: absolute;
    right: 30px;
    top: 45px;
}
#menu_shortcut_group ul {
    margin-top: 25px;
    margin-bottom: 25px;
}
#menu_shortcut_group li {
    display: inline-block;
}
#menu_shortcut_group li > a {
    display: block;
    min-width: 140px;
    padding: 0 5px;
    font-size: 14px;
}

.menu-fix #menu_head_group {
    top: 15px;
}

.header.page-module #menu_head_group {
    top: 35px;
}
.commiss_free {
    background-color: #ED1C24;
    padding: 1px 8px;
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 15px;
    margin-top: -12px;
    height: 24px;
    line-height: 24px;
    color: #fff;
}
.house-info input[type="text"] {
    background: none;
    border: none;
    text-align: right;
    width: 100%;
}

.house-info input.marquee {
    -webkit-animation: marquee 7s infinite;
    -moz-animation:    marquee 7s infinite; /* Fx 5+ */
    -o-animation:      marquee 7s infinite; /* Opera 12+ */
    animation:         marquee 7s infinite; /* IE 10+, Fx 29+ */

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.list-house-popup {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}
.list-house-popup > div {
    margin-bottom: 10px;
}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}

@media screen and (max-width:1480px){
	.content-l{width:1366px;}
}

@media screen and (max-width:1366px){
	.content-l{width:1200px;}
	.content-m{width:1000px;}
	#back_to_top span{width:42px;height:42px;line-height:38px;}
	#back_to_top span img{width:18px;}
	.title-big{font-size:60px;}
	.info-desc{padding:0}
	.header .content-l{min-height:100px;}
	.intro-section .content-l .label-intro{left:50px;}
	.ggmap iframe{min-height:308px;}
}

@media screen and (max-width:1200px){
	.content-l{width:1024px;}
	.content-m{width:900px;}
	.fll{width:70%;}
	.flr{width:30%;}
	.logo img{width:400px;}
	.title-big{font-size:50px;bottom:250px}
	.header.header-page .logo img{width:350px;}
	.house-blk{font-size:13px;letter-spacing: 0;}
	.intro-section .content-l .label-intro{left:0px;}
	.ggmap iframe{min-height:322px;}
	.house-list-scroll,.map-list-pagi{width:60%;}
	.house-list-map{width:38%;}
}

@media screen and (max-width:1024px){
	.header .content-l.center{text-align:left;padding:0 15px;}
	.content-l{width:990px;}
	.menu-btn{right:15px;}
	.like-number{right:65px;}
	.hotline{right:105px}
	.ggmap iframe{min-height:250px;}
}

@media screen and (max-width:991px){
	body{padding-bottom:150px;}
	.header{height:auto;min-height:60px;}
	.content-l{width:95%;}
	.content-m{width:90%;}
	.advanced-search{width:760px;padding:15px;margin-left:-380px;height:auto;bottom:30px;}
	.logo-ho{width:110px;}
	.range-section{width:520px;padding-left:10px;}
	.slider-container.theme-green{width:180px !important}
	.form-field{width:200px;}
	.form-field2{width:210px;}
	.title-big{font-size:44px;bottom:210px;}
	.intro-section .content-l .label-intro{width:120px;top:-5px;left:0px;}
	.search-hidden .range-section{width:550px;}
	.search-hidden .form-field2{margin-left:30px;}
	.title-h{font-size:32px;}
	.new-label{width:32px;height:32px;line-height:32px;font-size:10px;}
	.pickup .col-sm-3{padding-left:6px;padding-right:6px;}
	.pickup-blk p{font-size:12px;line-height:18px;height:auto;}
	.pickup-blk .pickup-img img{padding:6px 6px 0 6px;}
	.title-row .blk-btn{top:10px;}
	.fll{width:100%;float:none;}
	.flr{width:100%;float:none;text-align:left;}
	.benefit .col-sm-4{padding-left:6px;padding-right:6px;}
	.benefit-blk{font-size:12px;line-height:18px;}
	.benefit-blk .be-number{width:32px;height:32px;font-size:12px;line-height:32px;left:-2px;}
	.benefit-blk h3{font-size:18px;}
	.breadcrumb-blk{padding:0 30px;}
	.header.header-page .logo img{width:240px;}
	.profile-blk div label{width:130px;}
	.content-s{width:90%;}
	.img-breadcrumb h1{font-size:48px}
	.img-breadcrumb{min-height:200px;}
	.feature-blk{padding:5px 5px 5px 125px;height:130px;font-size:14px;}
	.feature-blk img{height:120px;width:120px}
	.feature-blk:hover img{width:130px;height:130px;}
	.feature-blk h3{font-size:14px;padding-bottom:8px;margin-bottom:8px;}
	.feature-blk .desc{padding:0;height:100px;margin:10px;line-height:17px;}
	.title-details .right{text-align:left;margin:10px 0 0 0;}
	.hidden-tablet{display:none;}
	.header-page.header{min-height:60px;}
	.header .content-l{min-height:60px;}
	.menu-fix{min-height:60px;}
	.header-page.header .open-search-hidden{top:14px;}
	.hotline{top:22px;}
	.like-number{top:23px;}
	.logo{margin-top:20px;}
	.menu-btn{top:20px;}
	.logo2 img{height:auto;width:230px;margin-top:20px;}
	.open-search-hidden{top:9px;}
	.menu-fix .hotline{top:18px;}
	.menu-fix .like-number{top:19px;}
	.menu-fix .menu-btn{top:16px;}
	.black-bg{padding:40px 30px;}
	.rh-blk{font-size:11px;line-height:16px;}
	.rh-info strong{font-size:11px;}
	.related-house-carousel.owl-carousel .owl-nav .owl-prev{width:13px;background-size:100% auto;left:-25px;}
	.related-house-carousel.owl-carousel .owl-nav .owl-next{width:13px;background-size:100% auto;right:-25px;}
	.house-detail-row{font-size:11px;}
	.house-detail-row .house-info td{padding:4px 0;}
	.house-feature2 li{min-height:24px;height:auto;line-height:24px;margin:4px 0;}
	.big-contact-btn{height:50px;line-height:50px;font-size:13px;}
	.big-favorite-btn,.big-print-btn{height:32px;line-height:32px;font-size:11px;}
	.big-favorite-btn img,.big-print-btn img{width:18px;}
	.large-image{width:100%;height:auto !important;min-height:227px;}
	.social-list{margin:10px 0;}
	.house-detail-row{margin:10px 0;}
	.house-detail-row .col-sm-6{padding-left:6px;padding-right:6px;}
	.grey-bg-info{font-size: 11px;padding:10px;}
	.big-price{font-size:18px;}
	.house-details-txt{font-size:11px;line-height:18px;}
	.support-area{padding:30px;}
	.breadcrumb-blk{margin:15px 0;}
	.support-area h2{font-size:20px;}
	.menu-list li a,.back-home{padding:6px 10px;font-size:12px;}
	.company-profile{padding:30px;}
	.profile-blk{font-size:12px;margin-top:0;}
	.profile-blk div {padding: 8px 0 8px 140px;}
	.feature-blk h3{font-size:12px;}
	.feature-blk p{font-size:11px;height:65px;}
	.list-map-body .footer{display:block;bottom:90px;margin:0;}
	.house-list-map{float: none;width: 100%;height: 300px;padding-right: 15px;padding-left: 15px;}
	.house-list-scroll,.map-list-pagi{width:100%;float: none;margin: auto;}
	.house-list-scroll>div{margin-left: 15px;}
}

@media screen and (max-width:767px){
	body{padding-bottom:100px;}
	.content-m{width:95%;}
	.content-s{width:95%;}
	.intro-section .content-l .label-intro{display:none;}
	.search-hidden{display:none;}
	.hotline span{display:none;}
	.logo{margin-top:12px;}
	.logo img{width:300px}
	.header{height:50px;}
	.header .content-l{min-height:50px}
	.hotline{top:12px !important;}
	.menu-btn{top:12px !important;}
	.like-number{top:15px !important;}
	.advanced-search{position:relative;left:auto;bottom:auto;margin-left:0;width:100%;}
	.title-big{font-size:24px;bottom:auto;top:40%;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.logo-ho{display:none;}
	.form-field{width:100%;float:none;}
	.slider-container.theme-green{width:100% !important;float:none;}
	.slider-container .scale ins{right:0;left:auto;}
	.form-field2{width:100%;margin:15px 0 15px 0;float:none;}
	.range-section{width:100%;}
	.range-section label{display:block;float:none;}
	.pickup{display:none;}
	.search-gr label{display:inline-block;width:85px;float:left;margin-top:20px;}
	.search-circle-btn{float:left;}
	.search-gr{width:100%;float:none;}
	.search-gr h2{width:110px;float:left;}
	.bottom-btn{height:auto;width:100%;position:relative;top:0;left:0;bottom:0;margin:0;}
	.bottom-btn .blk-btn,.bottom-btn .blk-btn.quest-btn{margin:5px 0;float:none;width:100%;min-width:0;}
	.recommend:before,.recommend:after{display:none;}
	.recommend{margin:40px 0;padding:30px 0;}
	.intro-section{margin:0;}
	.logo2 img{height:auto;width:200px;}
	.menu-fix{min-height:50px;}
	.folio-recommend{overflow:hidden;}
	#pages{display:none;}
	.hide-mobile{display:none;}
	.show-mobile{display:block;}
	.show-mobile .gal-thumb{opacity:1;}
	.benefit{padding:0 20px;}
	.support{display:none;}
	.search-f{display:none;}
	.footer-menu{display:none;}
	.footer{min-height:50px;margin-top:40px;}
	.copyright{text-align:center;margin:10px 0 0 0;}
	.aside.in{width:100%;min-width:0;}
	.menu-aside li a{height:45px;line-height:45px;}
	.menu-aside{margin-top:0px;}
	.header-page.header{min-height:60px;}
	.header-page.header .search-hidden{display:inline-block;width:100%;}
	.header-page.header .open-search-hidden{left:auto;right:115px;width:auto;text-indent: -9999px;top:7px;}
	.header-page.header .advanced-search{width:100%;margin-left:0;}
	.header-page.header .search-hidden .range-section{width:100%;}
	.logo2 img{margin-top:20px;}
	.ggmap{margin-top:20px;}
	.img-breadcrumb h1{font-size:32px}
	.img-breadcrumb{background-size:auto 100%;background-position:center center;min-height:150px;}
	.feature-blk{margin-bottom:20px;}
	.feature-blk .desc{line-height:17px;}
	.feature-blk p{height: 65px;}
	.house-blk p,.house-feature{display:none;}
	.house-feature2 li{margin:6px 0;}
	.black-bg{padding:30px 50px}
	.big-contact-btn,.big-favorite-btn,.big-print-btn{height:50px;line-height:50px;}
	.title-details label{display:block;margin:0 0 10px 0}
	.title-txt{font-size:16px;}
	.title-details label{margin-bottom:14px;}
	.support-area h2{font-size:16px;}
	.gr-cotnact-row{padding-left:0;}
	.gr-cotnact-row label{position:relative;left:auto;top:auto;display:block;}
	.gr-cotnact-row input[type=text]{min-width:0;width:100%;}
	.gr-cotnact-row textarea{min-width:0;width:100%;}
	.submit-blk{width:100%;}
	.blk-submit-btn{min-width:0;width:100%;}
	.list-map-body .footer{margin:0;bottom:40px;}
	.owl-carousel.owl-loaded{height: 230px;}
	.house-blk .owl-carousel .owl-item .item{height: 220px !important;}
}

@media screen and (max-width:480px){
	.logo img{width:200px}
	.like-number{right:52px !important;}
	.hotline{right:80px !important;}
	.header .content-l.center{padding:0 8px;}
	.menu-fix{padding:0 0 0 8px;}
	.header-page.header .open-search-hidden{right:82px;}
	.header.header-page .logo img{width:200px;}
	.profile-blk div label{top:0;margin:0 0 5px 0;width:100%;position:relative;display:block;}
	.profile-blk div{padding: 12px 0;}
	.back-home{width:100%;}
	.feature-blk{padding:5px 5px 5px 85px;height:90px;font-size:12px;margin-bottom:15px;}
	.feature-blk img{height:80px;width:80px}
	.feature-blk:hover img{width:80px;height:80px;top:5px;left:5px;}
	.feature-blk h3{font-size:12px;padding-bottom:6px;margin-bottom:6px;}
	.feature-blk .desc{padding:0px;height:60px;line-height:17px;}
	.feature-blk .desc p{height:30px;}
	.feature-blk.category-single .desc > div{height:30px;}
	.head-search li a,.search-map{padding:0 5px;height:30px;line-height:30px;font-size:12px;}
	.search-map{top:2px;}
	.head-search{height:auto;padding:10px 0px 10px 0;}
	.head-search .content-l{padding-right:60px;}
	.head-search li{font-size:12px;text-align:center;line-height:20px;margin-right:5px;}
	.head-search li strong{display:inherit;}
	.more-blk-btn{min-width:0;width:100%;}
	.search-gr h2{width:95px;}
	.list-map-body .footer{bottom:22px;}
}

@media screen and (max-width:320px){
	.header.header-page .logo img{width:140px;}
	.logo img{width:140px;}
}