@-ms-viewport {width: device-width;}
@viewport {width: device-width;}

@media screen and (max-width:1479.8px){
	.content-l{width:1366px;}
}

@media screen and (max-width:1365.7px){
	.content-l{width:1200px;}
	.content-m{width:1000px;}
	#back_to_top span{width:42px;height:42px;line-height:38px;}
	#back_to_top span img{width:18px;}
	.title-big{font-size:60px;}
	.info-desc{padding:0}
	.header .content-l{min-height:100px;}
	.intro-section .content-l .label-intro{left:50px;}
	.intro-section .content-l .label-intro img {max-height:none}
	.ggmap iframe{min-height:308px;}
	.house-blk .owl-carousel .owl-item .item,
	.owl-carousel .owl-item img,
	.owl-carousel.owl-loaded {max-height: 175px;}
	.house-blk .house-info .tdr>div{white-space: normal;width:auto;}
	.related-house{margin: 0 0 60px;}
	.feature-blk h3 {overflow: hidden;height: 55px;}
}

@media screen and (max-width:1199.7px){
	.content-l{width:1024px;}
	.content-m{width:900px;}
	.fll{width:70%;}
	.flr{width:30%;}
	.logo img{width:400px;}
	.title-big{font-size:50px;bottom:250px}
	.header.header-page .logo img{width:350px;}
	.house-blk{font-size:13px;letter-spacing: 0;}
	.intro-section .content-l .label-intro{left:0px;}
	.intro-section .content-l .label-intro img {max-height:none}
	.ggmap iframe{min-height:322px;}
	.house-list-scroll,.map-list-pagi{width:60%;}
	.house-list-map{width:38%;}
	.house-blk .owl-carousel .owl-item .item,
	.owl-carousel .owl-item img,
	.owl-carousel.owl-loaded {width:100%;height:auto!important;max-height: 145px;}
	#menu_head_group{top: 37px;}
	.advanced-search{height: 280px;padding: 25px 10px 25px 70px;}
}

@media screen and (max-width:1023.8px){
	.header .content-l.center{}
	.content-l{width:990px;}
	.menu-btn{right:15px;}
	.hotline{right:105px}
	.ggmap iframe{min-height:250px;}
	.intro-section .content-l .label-intro{max-height:none}
	.house-blk .owl-carousel .owl-item .item, .owl-carousel .owl-item img, .owl-carousel.owl-loaded {max-height: 140px;}
}

@media screen and (max-width:990.7px){
	body{padding-bottom:150px;}
	.header{height:auto;min-height:50px;}
	.content-l{width:95%;}
	.content-m{width:90%;}
	.advanced-search{width:720px;padding:15px;margin-left:-360px;height:auto;bottom:-85px;}
	.logo-ho{width:110px;}
	.range-section{width:540px;padding-left:30px;}
	.search-gr{width: 145px;}
	.slider-container.theme-green{width:280px !important}
	.form-field{}
	.form-field2{}
	.title-big{font-size:44px;bottom:200px;}
	.intro-section {margin-bottom: 120px;}
	.intro-section .content-l .label-intro{display: none}
	.search-hidden .range-section{width:550px;}
	.search-hidden .form-field2{margin-left:30px;}
	.title-h{font-size:32px;}
	.new-label{width:32px;height:32px;line-height:32px;font-size:10px;}
	.pickup .col-sm-3{padding-left:6px;padding-right:6px;}
	.pickup-blk p{font-size:12px;line-height:18px;height:auto;}
	.pickup-blk .pickup-img img{padding:6px 6px 0 6px;}
	.title-row .blk-btn{top:10px;}
	.fll{width:100%;float:none;}
	.flr{width:100%;float:none;text-align:left;}
	.benefit .col-sm-4{padding-left:6px;padding-right:6px;}
	.benefit-blk{font-size:12px;line-height:18px;}
	.benefit-blk .be-number{width:32px;height:32px;font-size:12px;line-height:32px;left:-2px;}
	.benefit-blk h3{font-size:18px;}
	.breadcrumb-blk{padding:0 30px;}
	.header.header-page .logo img{width:240px;}
	.profile-blk div label{width:130px;}
	.content-s{width:90%;}
	.img-breadcrumb h1{font-size:48px}
	.img-breadcrumb{min-height:200px;}
	.feature-blk{padding:5px 5px 5px 125px;height:130px;font-size:14px;}
	.feature-blk img{height:120px;width:120px}
	.feature-blk:hover img{width:130px;height:130px;}
	.feature-blk h3{font-size:14px;padding-bottom:8px;margin-bottom:4px;height: 37px;}
	.feature-blk .desc{padding:0;height:100px;margin:10px;line-height:17px;}
	.title-details .right{text-align:left;margin:10px 0 0 0;}
	.hidden-tablet{display:none;}
	.header-page.header{min-height:60px;}
	.header .content-l{}
	.menu-fix{min-height:60px;}
	.header-page.header .open-search-hidden{top:14px;}
	.hotline{top:22px;}
	.like-number{}
	.logo{}
	.menu-btn{top:20px;}
	.logo2 img{height:auto;width:230px;margin-top:20px;}
	.menu-fix .hotline{top:18px;}
	.menu-fix .like-number{}
	.menu-fix .menu-btn{top:16px;}
	.black-bg{padding:40px 30px;}
	.rh-blk{font-size:11px;line-height:16px;}
	.rh-info strong{font-size:11px;}
	.related-house-carousel.owl-carousel .owl-nav .owl-prev{width:13px;background-size:100% auto;left:-25px;}
	.related-house-carousel.owl-carousel .owl-nav .owl-next{width:13px;background-size:100% auto;right:-25px;}
	.house-detail-row{font-size:11px;}
	.house-detail-row .house-info td{padding:4px 0;}
	.house-feature2 li{min-height:24px;height:auto;line-height:24px;margin:4px 0;}
	.big-contact-btn{height:50px;line-height:50px;font-size:13px;}
	.big-favorite-btn,.big-print-btn{height:32px;line-height:32px;font-size:11px;}
	.big-favorite-btn img,.big-print-btn img{width:18px;}
	.large-image{width:100%;height:auto !important;min-height:227px;}
	.container-gallery .large-image{min-height:300px;}
	.social-list{margin:10px 0;}
	.house-detail-row{margin:10px 0;}
	.house-detail-row .col-sm-6{padding-left:6px;padding-right:6px;}
	.grey-bg-info{font-size: 11px;padding:10px;}
	.big-price{font-size:18px;}
	.house-details-txt{font-size:11px;line-height:18px;}
	.support-area{padding:30px;}
	.breadcrumb-blk{margin:15px 0;}
	.support-area h2{font-size:20px;}
	.menu-list li a,.back-home{padding:6px 10px;font-size:12px;}
	.company-profile{padding:30px;}
	.profile-blk{font-size:12px;margin-top:0;}
	.profile-blk div {padding: 8px 0 8px 140px;}
	.feature-blk h3{font-size:12px;}
	.feature-blk p{font-size:11px;height:65px;}
	.list-map-body .footer{display:block;bottom:90px;margin:0;}
	.house-list-map{float: none;width: 100%;height: auto;padding: 0;}
	.house-list-scroll,.map-list-pagi{display: none; width:100%;float: none;margin: auto;}
	.house-list-scroll>div{margin-left: 15px;}
	.form-field>.dropdown:first-child{width: 310px;}
	.header.page-module .open-search-hidden {top: 32px;left: auto;right: 175px;width: 15px;overflow: hidden;background-size: 85%;}
	.open-search-hidden, .open-search-hidden.close-c{top:12px;left: auto;right: 175px;width: 15px;overflow: hidden;background-size: 85%;}
	.header.page-module .advanced-search, .menu-fix .advanced-search {padding: 20px 0;width: 700px;}
	.menu-fix .advanced-search {margin-left: -350px;margin-top: 19px;}
	#direct_bar>div .navbar-nav>li>a{min-width: 125px;}
	.house-blk .owl-carousel .owl-item .item, .owl-carousel .owl-item img, .owl-carousel.owl-loaded {max-height: 230px;}
}

@media screen and (max-width:840px){
	.container-gallery .large-image{min-height:280px;}
	.house-blk .owl-carousel .owl-item .item, .owl-carousel .owl-item img, .owl-carousel.owl-loaded {max-height: 215px;}
}

@media screen and (max-width:767.8px){
	.row{margin: 0;}
	.breadcrumb-blk {padding: 0 2%;}
	body{padding-bottom:100px;}
	.content-m{width:100%;}
	.content-s{width:100%;}
	.content-l{margin: 0;width: 100%;}
	.intro-section .content-l .label-intro{display:none;}
	.hotline span{display:none;}
	.header.page-module .content-l {min-height: unset;}
	.logo2 {width: 100%;display: block;margin: auto;text-align: center;}
	.header.page-module .logo2 img {width: 90%;height: auto;margin: 8% 5%;}
	.logo, .logo img{ width: 95%; margin: 4% 3%;}
	.header .content-l{min-height:50px}
	/*.hotline{top:12px !important;}*/
	/*.menu-btn{top:12px !important;}*/
	.advanced-search{position:relative;left:auto;bottom:auto;margin-left:0;width:100%;}
	.title-big{font-size:24px;bottom:auto;top:40%;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.logo-ho{display:none;}
	.form-field{width:100%;float:none;margin: 30px auto 20px}
	.slider-container.theme-green{width:96% !important;float:none;margin-left: 2%;}
	.slider-container .scale ins{right:0;left:auto;}
	.form-field2{width:100%;margin:5px 0 0;float:none;}
	.range-section{width: 100%;padding: 8%;}
	.range-section label{display:block;float:none;}
	.form-field>.dropdown:first-child, .form-field>.dropdown:last-child {display: block;width: 100%;margin: 0 0 15px;}
	.form-field>.dropdown:last-child .dropdown-toggle, .form-field .dropdown-menu {width: 100%}
	.form-field>.dropdown input, .form-field>.dropdown button {padding: 8px 25px 8px 8px;height: auto}
	.form-field .dropdown-toggle {background-position-y: 50%;}
	.form-field .dropdown-menu>li>a {line-height: 2em;font-size: 1.2em;}
	.pickup{display:none;}
	.search-gr{width:100%;float:none;padding: 0 4%;margin: 40px 0 70px;}
	.bottom-btn{height:auto;width:100%;position:relative;top:0;left:0;bottom:0;margin:0;}
	.bottom-btn .blk-btn,.bottom-btn .blk-btn.quest-btn{margin:5px 0;float:none;width:100%;min-width:0;}
	.recommend:before,.recommend:after{display:none;}
	.recommend{margin:40px 0;padding:30px 0;}
	.intro-section{margin:0;}
	.menu-fix{min-height:60px;padding: 0;margin: 0;bottom:0;top:auto;background-color:#000;z-index:1100;}
	.menu-fix .content-l {height: auto;}
	.folio-recommend{overflow:hidden;}
	#pages{display:none;}
	.hide-mobile{display:none;}
	.show-mobile{display:block;}
	.show-mobile .gal-thumb{opacity:1;}
	.benefit{padding:30px 4%;}
	.support{display:none;}
	.search-f{display:none;}
	.footer-menu{display:none;}
	.footer{margin: 0;min-height: 50px;margin-top: 40px;width: 100%;}
	.footer .row {margin: 0}
	.footer .col-md-3.col-sm-4 {padding: 0}
	.copyright{text-align:center;margin:10px 0 0 0;}
	.aside.in{width: 100%;min-width: 0;padding: 10% 0 0;height: 100vh;}
	.aside .aside-header {right: 10%;top: 2%;}
	.aside .aside-contents {margin-top: 0;padding: 10px 15% 150px;overflow: auto;height: 100vh;}
	.menu-aside li a{height:45px;line-height:45px;font-size: 1.2em;}
	.menu-aside{margin-top:0px;}
	.header-page.header{min-height:60px;}
	.header-page.header .search-hidden{display:inline-block;width:100%;}
	.header-page.header .open-search-hidden{left:auto;right:115px;width:auto;text-indent: -9999px;top:7px;}
	.header-page.header .advanced-search{width:100%;margin-left:0;}
	.header-page.header .search-hidden .range-section{width:100%;}
	.logo2 img{margin-top:20px;}
	.ggmap{margin-top:20px;}
	.img-breadcrumb h1{font-size:32px}
	.img-breadcrumb{background-size:auto 100%;background-position:center center;min-height:150px;}
	.feature-blk{margin-bottom:20px;}
	.feature-blk .desc{line-height:17px;}
	.feature-blk p{height: 65px;}
	.house-blk p,.house-feature{display:none;}
	.house-feature2 li{margin:6px 0;}
	.black-bg{padding:30px 50px}
	.big-contact-btn,.big-favorite-btn,.big-print-btn{height:50px;line-height:50px;}
	.title-details label{display:block;margin:0 0 10px 0}
	.title-txt{font-size:16px;}
	.title-details label{margin-bottom:14px;}
	.support-area h2{font-size:16px;}
	.gr-cotnact-row{padding-left:0;}
	.gr-cotnact-row label{position:relative;left:auto;top:auto;display:block;}
	.gr-cotnact-row input[type=text]{min-width:0;width:100%;}
	.gr-cotnact-row textarea{min-width:0;width:100%;}
	.submit-blk{width:100%;}
	.blk-submit-btn{min-width:0;width:100%;}
	.list-map-body .footer{margin:0;bottom:40px;}
	.owl-carousel.owl-loaded{height: 230px;}
	.house-blk .owl-carousel .owl-item .item{height: 220px !important;}
	.direct_bar_wrap{height: 49px;}
	#direct_bar.content-l {margin: 0;width: 100%;}
	.direct_bar_list.pull-right {float: none!important;}
	.direct_bar_list.pull-right > ul.navbar-nav {margin: 0;}
	#direct_bar>div.direct_bar_list li:first-child{border-left:none;}
	#direct_bar>div.direct_bar_list li:last-child{border-right:none;}
	#direct_bar>div.direct_bar_list li {width:50%;float: left;}
	#direct_bar>div .navbar-nav>li>a{width:100%;font-size: 12px;display:block;min-width: unset;padding: 15px 0;min-height: 50px;}

	.pointer-label.high,.pointer-label.low {display: block;}
	.range-section {padding: 0 4%; float: none;}
	.form-field {margin: 5px auto 10px;}
	.range-section .row {margin: 10px 0;}
	.slider-container.theme-green {width: 94%!important;margin: auto;}
	.slider-class {margin: 45px 0 35px;}
	.form-field2 input[type=text] {width: 45%;}
	.slider-container .scale ins {top:8px;}
	.slider-container .scale span:last-child>ins {left: -10px;}
	.theme-green .back-bar .pointer-label{font-size: 12px;padding: 6px 9px 4px 9px;}
	.search-circle-btn { border-radius: 3px; height: 60px; width: 100%;float: none; padding: 15px;}
	.search-circle-btn img, .search-circle-btn span {display: inline-block;vertical-align: top;line-height: 30px;margin: 0 5px;font-size: 19px; color: #fff;font-weight: 700;}
	.search-circle-btn img { height: 30px; width: auto;}
	.search-gr label, .search-gr h2 {float: none;width: 100%;display: block;margin: 0;}
	.search-gr label {font-size: 16px; font-weight: normal;}
	.search-gr h2 {font-size: 32px;line-height: 38px;}
	.search-gr > div:first-child{display: inline-block;width: 35%;vertical-align: top;}
	.img-button {display: inline-block; width: 63%;text-align: right;vertical-align: top;}
	.clear-form-search-btn{float: right;position: relative;top: -110px;right: 2%;font-weight: 700;background-size: 24px;}
	.contain_last_form_search {position: absolute;bottom: 0;width: 100%;text-align: center;margin-bottom: 20px;left: 0;padding: 0 3%;}
	.contain_last_form_search .quest-btn {min-width:unset;font-size: 16px;}
	.recommend {margin: 0;}
	.recommend .content-m > .row:first-child > div:first-child {padding: 0}
	.folio-recommend{margin:10% 2% 5%;}
	.content-m.search-header .advanced-search {display: none;}
	.gal-thumb span {font-size: 22px;}
	.benefit-blk .be-number {width: 35px;height: 35px;font-size: 15px;line-height: 35px;left: -11px;}
	.modal-dialog {margin: 0;}
	.modal-dialog .modal-content {border-radius: 0; border: none; padding-bottom: 60px;}
	#menu_head_group.show-mobile {width: 100%; display: block;left: unset; right: unset; top: 0; font-size: 0;}
	#menu_head_group.show-mobile > a,
	#menu_head_group.show-mobile .like-page{position:relative; background: none;margin: 0; padding: 13px 0; width: 35px; height: 60px;
		left: unset; right: unset; top: unset; bottom: unset;overflow: unset; display: inline-block; vertical-align: top;}
	#menu_head_group.show-mobile .like-number {background: url(../../images/new-layout/sp-icn-liked.png) no-repeat;}
	#menu_head_group.show-mobile .like-number.none_selected { background: url(../../images/new-layout/sp-icn-heart.png) no-repeat;}
	#menu_head_group.show-mobile > a { width: 16.4%; text-align: center;}
	.search-hidden {display:none;}
	.search-hidden section.wrap-search-box {position: fixed;top: 0;background: #fff;right: 0;left: 0;width: 100%;height: calc(100% - 60px);overflow: auto;padding: 12% 3% 3%;}
	.search-hidden section.wrap-search-box .advanced-search {margin:0; padding:0; width:100%;}
	.search-hidden .range-section { width: 100%; padding: 0 7%;}
	.search-hidden .form-field2 { margin-left: 0;}
	.search-hidden .search-gr { margin-bottom: 0;}
	.menu-fix .search-hidden .contain_last_form_search {position: absolute;bottom: -83px;width: 100%;text-align: center;margin: 30px auto;left: 0;padding: 0 3%;}
	.menu-fix .search-hidden .quest-btn { display: inline-block;}
	.support-bottom {padding: 5%;}
	.support-bottom .row .col-md-4.col-sm-7 {text-align: center;}
	.support-bottom a.white-btn { margin: 20px auto 0;width: 85%;min-width: unset;}
}

@media screen and (max-width:478.5px){
	.form-field2 input[type=text] {width: 43%;}
	.slider-container.theme-green {width: 90%!important;margin: auto;}
	/*.hotline{right:80px !important;}*/
	/*.header .content-l.center{padding:0 8px;}*/
	/*.header-page.header .open-search-hidden{right:82px;}*/
	/*.profile-blk div label{top:0;margin:0 0 5px 0;width:100%;position:relative;display:block;}*/
	/*.profile-blk div{padding: 12px 0;}*/
	/*.back-home{width:100%;}*/
	/*.feature-blk{padding:5px 5px 5px 85px;height:90px;font-size:12px;margin-bottom:15px;}*/
	/*.feature-blk img{height:80px;width:80px}*/
	/*.feature-blk:hover img{width:80px;height:80px;top:5px;left:5px;}*/
	/*.feature-blk h3{font-size:12px;padding-bottom:6px;margin-bottom:6px;}*/
	/*.feature-blk .desc{padding:0px;height:60px;line-height:17px;}*/
	/*.feature-blk .desc p{height:30px;}*/
	/*.feature-blk.category-single .desc > div{height:30px;}*/
	/*.head-search li a,.search-map{padding:0 5px;height:30px;line-height:30px;font-size:12px;}*/
	/*.search-map{top:2px;}*/
	/*.head-search{height:auto;padding:10px 0px 10px 0;}*/
	/*.head-search .content-l{padding-right:60px;}*/
	/*.head-search li{font-size:12px;text-align:center;line-height:20px;margin-right:5px;}*/
	/*.head-search li strong{display:inherit;}*/
	/*.more-blk-btn{min-width:0;width:100%;}*/
	/*.search-gr h2{width:95px;}*/
	/*.list-map-body .footer{bottom:22px;}*/
}

@media screen and (max-width:320px){
	body{width: 320px;}
}